*,
*::before,
*::after {
    box-sizing: border-box;
}

/** { border: 1px solid limegreen; }*/

* {padding: 0; margin: 0;}


html {
    font-size: 16px;
}

h1 {
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
}
h2, h3 {
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
}

h4, h5, h6 {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
}
p {
    font-family: 'Ubuntu', sans-serif;
    width: 80%;
    line-height: 1.5rem;
    padding-top: 1rem;
}
a {
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}
.headercta p {
    font-size: clamp(1.2rem, 1.3vw, 2rem);
}
h1 {
    font-size: clamp(2.7rem, 4vw, 4rem);
}
h2 {
    font-size: clamp(1.8rem, 2.5vw, 3.5rem);
}
h3 {
    font-size: 1.7rem;
}
h4, h5, h6 {
    font-size: 1rem;
}
p {
    font-size: .9rem;
}
footer a {
    font-size: .9rem;
}
.center {text-align: center;}

#close {
    display: none;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    width: 8rem;
    height: 8rem;
}



/*******************************************
            GRID LAYOUT
*******************************************/

.grid {
    display: grid;
    width: 100vw;
    overflow: hidden;
    grid-template-columns: 1fr 4.5fr 4.5fr 1fr;
    grid-template-rows: 600px 150px 800px 600px 800px 400px;
    grid-template-areas: 
        'header header header header'
        '. future future .'
        '. main1 editor editor'
        '. phones main2 .'
        'laptop laptop main3 .'
        'footer footer footer footer';
}
.logo {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
nav {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
}
/*.logbtn {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}*/
header {
    grid-area: header;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}
.future {
    grid-area: future;
}
.editor {
    grid-area: editor;
    grid-row: 2 / 4;
}
.main1 {
    grid-area: main1;
}
.main2 {
    grid-area: main2;
}
.main2bg {
    grid-row: 4 / 5;
    grid-column: 1 / 5;
}
.main3 {
    grid-area: main3;
}
.phones {
    grid-area: phones;
}
.laptop {
    grid-area: laptop;
    grid-column: 0 / 2;
}
footer {
    grid-row: 6 / 7;
    grid-column: 2 / 5;
}
.footerbg {
    grid-row: 6 / 7;
    grid-column: 1 / 5;
}
.logo2 {
    grid-row: 6 / 7;
    grid-column: 2 / 3;
}






/*********************************************
                HEADER
*********************************************/



header {
    background: url("../images/bg-pattern-intro.svg") no-repeat center fixed, linear-gradient(to right, hsl(13, 100%, 72%) , hsl(353, 100%, 62%));
    border-radius: 0 0 0 100px;
    position: relative;
    display: flex;
    justify-content: center;
}
nav, .logo, .logbtn, .icon {
    z-index: 2;
}
.dark {
    display: none;
}
.logo, .logbtn {
    padding-top: 1rem;
}
.headercta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
}
.headercta h1 {
    line-height: 3.5rem;
    margin: 0;
}
.headercta p {
  
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    margin-bottom: 4rem;
    color: hsl(0, 0%, 90%);

}
.learn {
    color: hsl(0, 0%, 100%);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .7rem;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 30px;
    margin: 0 .7rem;
    z-index: 2;
}
.learn:hover {
    color: hsl(353, 100%, 62%);
    background: hsl(0, 0%, 100%);
    border: 1px solid hsl(353, 100%, 62%);
    
}
.start,
.signup {
    background-color:hsl(0, 0%, 100%);
    color: hsl(353, 100%, 62%);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem 1rem;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 30px;
    margin: 0 .7rem;

}
.start:hover, .signup:hover {
    color: hsl(0, 0%, 100%);
    background: hsl(356, 100%, 42%);
    border: 1px solid hsl(0, 0%, 100%);
    
}
.signup:hover {
    background-color:hsl(13, 100%, 72%);
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(13, 100%, 72%);
}

.login {
    color: hsl(0, 0%, 100%);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .7rem;
    margin: 0 .7rem;
}
.icon {
    display: none;
    
}

/*******************************************
            GRID STYLES
*******************************************/


.editor img,
.phones img,
.laptop img {
    width: auto;
    height: 100%;
}
.light {
    display: inline;
}
nav {
    display: inline-flex;
    justify-content: space-between;
    padding-top: .5rem;
    margin-left: 7rem;
}

.logbtn {
    text-align: right;
}

.future {
    align-self:center;
    padding-top: 8rem;
}
.editor {
    padding-top: 3rem;
}
.main1 {
    justify-content: center;
    align-self: center;
    margin-top: -5rem;
}
.main2, .main3 {
    align-self: center;
}
.laptop {
    display: flex;
    justify-content:flex-end;
}
.logo2 {
    padding-top: 2rem;
}

.sec2, .sec5 {
    margin-top: 4rem;
}
.main2bg {
    background: url("../images/bg-pattern-circles.svg") no-repeat center fixed, linear-gradient(to right, hsl(237, 17%, 21%) , hsl(237, 23%, 32%));
    background-position: bottom;
    height: 70%;
    align-self: center;
    margin-top: -3rem;
    border-radius: 0 100px 0 100px;
}
.main2 {
    color: hsl(0, 0%, 100%);
}
.main2 p {
    color: hsl(0, 0%, 80%);
}
.main3 {
    margin-bottom: 0rem;
}
.footerbg {
    background-color: rgb(0, 0, 0);
    border-radius: 0 70px 0 0;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 1.5rem;
}
.product, .company, .connect {
    display: flex;
    flex-direction: column;
}
footer h4 {
    padding: 2rem 0 1rem 0;
    color: hsl(0, 0%, 100%);
}
footer a {
    text-decoration: none;
    color: hsl(0, 0%, 60%);
    line-height: 2rem;
}
footer a:hover {
    text-decoration: underline;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.mobile { display: none; } 





/******************************************************
                Navigation
******************************************************/


/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  


  /* Style active class dropdown arrow*/

.dropbtn img {
    padding-top: 1.3rem;
}
.dropbtn a:hover ~ img {
  transform: rotate(180deg);
  padding-bottom: 1.3rem;
}





  
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
  /* Dropdown container - needed to position the dropdown content */
  .dropdown {
    float: left;
    overflow: hidden;
  }

  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    border-radius: 7px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: .75rem 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    font-weight: bold;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  







  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 750px) {
    .desktop, .light {
        display: none;
    }
    .mobile {
        display: inline;
    }
    

  
/******************************************************
       Navigation   Style Responsive Nav Menu
******************************************************/


    nav {
        margin: 0;
        padding: 0;
    }
    .topnav .dropdown, .dropbtn {
        float: none;
    } 
    .icon {
        display: inline;
        justify-self: end;
        padding-right: 2rem;
        padding-top: 3rem;
     }
    .icon button {
        border: none;
        background: transparent;
        cursor: pointer;
    }
    .icon img {
        width: calc(100% + .5rem);
        height: auto;
    }
    .topnav a {
        color: hsl(240, 10%, 16%);
    }
    
    

    .nav {
        display: none;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        width: 85%;
        max-width: 90vw;
        min-height: 70vh;
        margin-top: 1rem;
        background:hsl(0, 0%, 100%);
        border-radius: 5px;
        box-shadow: 0px 15px 7px rgb(185, 185, 185);
        z-index: 1;
    }
     

    .topnav {
        display: none;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 275px;
        height: 100%;
        justify-content: flex-start;
        align-items: center;
        padding-top: 1rem;  
    }
    .topnav {
        position: relative;
    }
    .topnav a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav a {
        float: none;
        display: inline-block;
        text-align: center;
        font-size: 1.1rem;
        letter-spacing: 1.5px;
        line-height: 1.5rem;
        z-index: 2;
    }
    .topnav .dropdown {float: none;}
    .topnav .dropdown-content {position: relative;}
    .topnav .dropdown .dropbtn {
        display: inline-block;
        text-align: center;
    }
    .dropdown {
        display: flex;
        flex-direction: column;
        justify-self: center;
        width: 100%;
    }
    .dropbtn {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        margin-left: 0;
        padding-right: 0;
        margin-right: 0;
        border-bottom: 1px solid grey;
    }
    .dropdown .dark {
        display: inline-flex;
        position: relative;
    }
    .dark {
        width: 18px;
    }
    .dropdown:hover .dropdown-content {
        display: flex;
    }
    .dropdown-content {
        display: none;
        flex-direction: column;
        flex-wrap: nowrap;
        background-color: rgb(239, 239, 241);
        min-width: 260px;
        padding: .2rem 1.5rem;
        box-shadow: 16px 16px 50px 10px rgba(255, 255, 255, 0.02);
        box-shadow: -60px 30px 50px 10px rgba(255, 255, 255, 0.02);
        z-index: 2;
    }


    .dropbtn img {
        padding-top: 0rem;
    }
    .dropbtn a:hover ~ img {
      transform: rotate(180deg);
      padding-bottom: 1.3rem;
    }


       
    .dropbtn a {
        font-weight:500;
        padding: 1.3rem 0;   
    }
    .dropdown-content a {
        font-size: .9rem;
        font-weight:500;
        padding: .6rem 1rem;
    }
    hr {
        width: 85%;
        border: 2px solid rgb(239, 239, 241);
    }

    .logbtn {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: .7rem;
        width: 200px;
        margin: 1.5rem 0;
    }
    
    .signup {

        background: linear-gradient(to right, hsl(13, 100%, 72%) , hsl(353, 100%, 62%));
        color: hsl(0, 0%, 100%);
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
        font-size: .9rem;
        text-decoration: none;
        padding: .7rem 1.5rem;
        border: 1px solid hsl(0, 0%, 100%);
        border-radius: 30px;
        margin: 0 .7rem;

    }

    .signup:hover {
        background:hsl(0, 0%, 100%);
        color: hsl(13, 100%, 72%);
        border: 1px solid hsl(13, 100%, 72%);
    }

    .login {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
        font-size: .9rem;
        color: hsl(240, 10%, 16%);
        text-decoration: none;
        padding: .5rem .7rem;
        margin: 0 .7rem;
    }
   
    
    


    
    
    
   





/****************************************************
            Responsive Styles SMall screens
****************************************************/









    header {
        background: url("../images/bg-pattern-intro.svg") no-repeat center fixed, linear-gradient(to right, hsl(13, 100%, 72%) , hsl(353, 100%, 62%));
        border-radius: 0 0 0 150px;
        position: relative;
        display: flex;
        justify-content: center;
    }
    .headercta h1 {
        max-width: 14ch;
    }
    .headercta p {
        max-width: 25ch;    
    }
    .logo {
        margin-top: 2rem;
    }
    
    .logo, .logo2 {
        width: 30%;
        min-width: 120px;
   }
 
    
    img {
        width: 100%;
        height: auto;
        margin: auto;
        text-align: center;
    }
    .editor img, .laptop img {
        width:100%;
        height: auto;
    }
    .editor {
        padding-top: 4rem;
        text-align: center;
    }
    .phones {
        align-self: center;
        justify-self: center;
        padding-top: 2rem;
    }
    .laptop {
        display: flex;
        justify-content:center;
        width: 100%;
        height: auto;
        padding: 0rem 0;
    }


    .future {
        align-self:center;
        padding-top: 8rem;
    }
    .main1 p, .main2 p, .main3 p {
        width: 80%;
        max-width: 40ch;
        text-align: center;
        margin: 0 auto;
        line-height: 1.7rem;
    }
    .main1 h3, .main3 h3 {
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }  
    .main2 h2 {
        font-size: 2.5rem;
        text-align: center;
    }
    .main1 {
        text-align: center;
        margin-top: 1rem;
    }
    .main2 {
        align-self: flex-start;
        justify-self: center;
    } 
    
    .main3 {
        align-self: center;
        justify-self: center;
        margin-bottom: 2rem;
    }
    
    #sec2, #sec5 {
        margin-top: 4rem;
    }
    .main2bg {
        background: url("../images/bg-pattern-circles.svg") no-repeat, linear-gradient(right, hsl(237, 17%, 21%) , hsl(237, 23%, 32%));
        background-position: bottom center;
        background-size:cover;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
        overflow: hidden;
        
        border-radius: 0 100px 0 100px;
        justify-self: center;
    }
    



    .footerbg {
        background-color: rgb(0, 0, 0);
        border-radius: 0 70px 0 0;
    }
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
        padding-bottom: 1.5rem;
    }
    .product, .company, .connect {
        display: flex;
        flex-direction: column;
    }
    footer h4 {
        padding: 2rem 0 1rem 0;
        
    }
    footer a {
        text-decoration: none;
        line-height: 2rem;
    }

    





/*******************************************
            GRID LAYOUT
*******************************************/







.grid {
    display: grid;
    width: 100vw;
    overflow: hidden;
    grid-template-columns: 1rem 1fr 1fr 1rem;
    grid-template-rows: 100px 70vh 150px 400px 750px 200px 200px 400px 500px 800px 150px 800px;
    grid-template-areas: 
        'header header header header'
        'header header header header'
        '. future future .'
        '. editor editor .'
        '. main1 main1 .'
        '. phones phones .'
        '. . . .'
        '. main2 main2 .'
        '. laptop laptop .'
        '. main3 main3 .'
        'footer footer footer footer';
}
.logo {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding-left: 1rem;
}
nav {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}
#icon {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}
header {
    grid-area: header;
    grid-row: 1 / 3;
    grid-column: 1 / 5;
}
.future {
    grid-area: future;
}
.editor {
    grid-area: editor;
    /*grid-row: 2 / 4;*/
}
.main1 {
    grid-area: main1;
}
.main2 {
    grid-area: main2;
}
.main2bg {
    grid-row: 7 / 9;
    grid-column: 1 / 5;
}
.main3 {
    grid-area: main3;
}
.phones {
    grid-area: phones;
}
.laptop {
    grid-area: laptop;
    grid-column: 1 / 5;
}
footer {
    grid-row: 11 / 13;
    grid-column: 2 / 5;
}
.footerbg {
    grid-row: 11 / 13;
    grid-column: 1 / 5;
}
.logo2 {
    grid-row: 11 / 12;
    grid-column: 2 / 4;
}
  }